.additional {
  margin: 0 auto;
  width: 280px;
}

.additional__title {
  margin: 0;
  margin-top: 25px;

  font-family: "Oswald", sans-serif;
  .font(24px, 24px);
  font-weight: 400;
  color: #000000;
}

.additional__list {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  list-style-type: none;
}

.additional__name-product {
  margin: 0;
  margin-top: 13px;

  font-family: "Oswald", sans-serif;
  .font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.additional__cost {
  .font(14px, 14px);
  color: #444444;

  & p {
    margin: 0;
  }
}

.additional__gift {
  width: 280px;
  height: 290px;

  background: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%),
    url("../../img/bg-additional.png") center no-repeat;
}

.additional__gift-text {
  margin: 0 auto;
  width: 170px;

  .font(16px, 20px);
  text-align: center;
  color: #ffffff;
}
