.advantages {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}

.advantages__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  .font(36px, 40px);
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 17px 30px 0;
    .font(60px, 60px);
  }

  @media (min-width: @desktop-width) {
    margin: 41px 0 0;
  }
}

.advantages__list {
  margin: 40px 0 29px;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin: 72px 30px 32px;

    display: grid;
    // grid-template-columns: 230px 248px;
    // column-gap: 154px;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    column-gap: 60px;
    row-gap: 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 72px 0 32px;

    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 20px;


  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
    padding-right: 77px;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.advantages__number {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -39px;
    left: 34.88%;

    margin: 0;
    display: block;

    font-family: "Oswald", "Arial", sans-serif;
    .font(280px, 280px);
    font-weight: 400;
    color: #f2f2f2;

    z-index: -2;
  }

  @media (min-width: @desktop-width) {
    left: 44%;
  }
}

.advantages__box {
  width: 60px;
  height: 60px;

  display: flex;

  background-color: @element-basic-color;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__box svg {
  margin: auto;
}

.advantages__description {
  margin: 0;
  padding-top: 2px;

  .font(14px, 18px);
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-top: 30px;

    .font(16px, 24px);
    z-index: 1;
  }
}

.advantages__description br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
