.contacts {
  width: 100%;

  &--inner {
    padding-top: 1px;

    background-color: @bg-color-lighter;
  }
}

.contacts__wrapper {
  position: relative;
}

.contacts__cooperation {
  margin: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2px;

  @media (min-width: @tablet-width) {
    margin: 57px 70px 61px;

    column-gap: 300px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 37px;
    left: 2.64%;

    width: 565px;
    padding: 56px 80px;
    box-sizing: border-box;

    column-gap: 87px;

    background-color: #ffffff;
    z-index: 1;
  }
}

.contacts__cooperation-text {
  margin: 0;

  font-family: "Oswald", sans-serif;
  .font(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    padding-top: 3px;
    .font(20px, 26px);
  }
}

.contacts__address {
  margin: 0;

  .font(14px, 20px);
  color: #444444;

  @media (min-width: @tablet-width) {
    text-align: right;
    .font(16px, 20px);
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__address span {
  @media (min-width: @tablet-width) {
    display: inline-block;
    padding-top: 20px;
  }
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  width: 100%;
  display: block;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.contacts__map-icon {
  position: absolute;
  top: calc(50% - 26px);
  right: calc(50% - 28px);

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 106px;

    top: calc(50% - 90px);
    right: calc(50% - 62px);
  }
}
