.example {
  background-color: @bg-color;
  padding-top: 1px;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff 57.3%, @bg-color 57.3%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 25%, #f2f2f2 25%);
  }
}

.example__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;

    display: grid;
    grid-template-columns: 366px 1fr;
    grid-template-areas: "title title"
      "description description"
      "result cost"
      "cats cats";
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 1220px;

    grid-template-columns: 440px 580px;
    column-gap: 200px;
    grid-template-areas: "title cats"
      "description cats"
      "result cats"
      "cost cats";
    justify-content: start;
  }
}

.example__title {
  margin: 0;
  margin-top: 24px;

  font-family: "Oswald", sans-serif;
  .font(36px, 40px);
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-top: 43px;

    grid-area: title;

    .font(60px, 60px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }
}

.example__description {
  margin: 0;
  margin-top: 40px;

  .font(14px, 18px);
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
    padding-right: 6px;

    grid-area: description;

    .font(16px, 24px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 85px;
  }
}

.example__result {
  margin: 20px auto 0;
  width: 280px;

  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 53px;
    width: 366px;

    grid-area: result;

    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    align-self: start;
  }
}

.example__result-box {
  position: relative;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__number {
  margin: 0;
  padding: 14px 0 16px;

  font-family: "Oswald", sans-serif;
  .font(24px, 24px);
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font(30px, 37px);
    padding-bottom: 19px;
  }
}

.example__definition {
  position: absolute;
  bottom: -15px;
  left: 17px;

  margin: 0;
  padding: 0 3px;
  width: 87px;
  box-sizing: border-box;

  .font(12px, 12px);
  color: #444444;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    bottom: -6px;
    left: 8px;

    width: 142px;

    .font(14px, 14px);

    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__cost {
  margin: 34px 0 0;

  font-family: "Oswald", sans-serif;
  .font(14px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-top: 64px;

    grid-area: cost;
    justify-self: end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .font(20px, 20px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    justify-self: start;
    align-self: start;

    flex-direction: row;
  }
}

.example__cost span {
  padding-top: 9px;

  @media (min-width: @desktop-width) {
    margin-left: 63px;
  }
}

.example__cats {
  margin: 40px 0 0;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 84px 0 0;

    grid-area: cats;
    justify-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: -21px;
  }
}

.example__cats-box {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__cats-container {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;

    &--after {
      display: none;
    }
  }
}

.example__img {
  display: block;

  &--after {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__select {
  margin: 20px 0 0;
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin: 31px 0 0;
    padding-bottom: 60px;
  }
}
