.form {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Oswald", sans-serif;
  .font(36px, 36px);
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font(60px, 60px);
  }
}

.form__text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Oswald", sans-serif;
  .font(14px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font(20px, 30px);
  }
}

.form__action {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;

  border: none;

  @media (min-width: @tablet-width) {
    .font(20px, 29.64px);

    &--program {
      box-sizing: border-box;
      border: 1px solid #e7e7e7;
    }
  }

  @media (min-width: @desktop-width) {
    &--contacts {
      grid-column: ~"1/-1";
    }

    &--comment {
      grid-column: ~"1/-1";
    }

    &--additionally {
      grid-column: ~"1/-1";
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: @desktop-width) {
    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, 570px);
      column-gap: 80px;
    }
  }
}

.form__item {
  margin-bottom: 14px;

  display: flex;
  flex-direction: row;
}

.form__field {
  flex-grow: 1;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    .font(20px, 29.64px);
  }
}

.form__program {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__program-item {
  margin-bottom: 13px;
}

.form__legend {
  margin-bottom: 34px;

  .font(24px, 26px);
  color: #000000;
  text-transform: none;

  @media (min-width: @tablet-width) {
    .font(36px, 36px);
  }
}

.form__comment {
  width: 280px;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;

  resize: none;

  @media (min-width: @tablet-width) {
    width: 100%;

    .font(20px, 30px);
  }
}

.form__additionally {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 287px;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.form__additionally-item {
  margin-bottom: 13px;
}

.form__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit {
  margin-bottom: 21px;
  width: 280px;

  border: none;
}

.form__note {
  margin: 0;
  margin-bottom: 32px;

  color: #000000;
  text-align: center;
}

.form__small {
  .font(14px, 16px);
}
