.form {
  margin: 0 auto;
  width: 280px;
}

.form__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Oswald", sans-serif;
  .font(36px, 36px);
  font-weight: 400;
  color: #000000;
}

.form__text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Oswald", sans-serif;
  .font(14px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.form__group {
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;

  border: none;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__item {
  margin-bottom: 14px;

  display: flex;
  flex-direction: row;
}

.form__field {
  flex-grow: 1;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.form__program {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__program-item {
  margin-bottom: 13px;
}

.form__legend {
  margin-bottom: 34px;

  .font(24px, 26px);
  color: #000000;
  text-transform: none;
}

.form__comment {
  width: 280px;

  font-family: "Oswald", sans-serif;
  .font(16px, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;

  resize: none;
}

.form__additionally {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__additionally-item {
  margin-bottom: 13px;
}

.form__submit {
  margin-bottom: 21px;
  width: 280px;

  border: none;
}

.form__note {
  margin: 0;
  margin-bottom: 32px;

  color: #000000;
  text-align: center;

  & small {
    .font(14px, 16px);
  }
}
