.page-footer {
  background-color: @bg-color-lighter;
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 708px;

    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.copyright__link {
  .font(16px, 18.4px);
  text-decoration: none;
  color: #444444;
}
