.programs {
  width: 100%;
}

.programs__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  display: flex;
  flex-direction: column;

  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-bottom: 20px;
  background-color: @bg-color-lighter;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.programs__subtitle {
  margin: 0;

  font-family: "Oswald", sans-serif;
  .font(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    .font(36px, 36px);
  }
}

.programs__description {
  margin: 0;

  .font(14px, 18px);
  color: #444444;

  @media (min-width: @tablet-width) {
    .font(16px, 24px);
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  .font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    .font(20px, 29.64px);
  }
}
