.programs {
  width: 100%;
}

.programs__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.programs__item {
  margin-bottom: 20px;
  background-color: @bg-color-lighter;
}

.programs__subtitle {
  margin: 0;

  font-family: "Oswald", sans-serif;
  .font(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.programs__description {
  margin: 0;

  .font(14px, 18px);
  color: #444444;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  .font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
